# Supabase Configuration
SUPABASE_URL=https://tjxueukivwxsgipltqwb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_AnU3BL3OAck0GuPll8NWVQ_0xE1h2Es

# Local Docker Database Configuration (docker-compose)
POSTGRES_DB=mani_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
ADMINER_PORT=8088
